html {font-size: 1em;}

* {
    margin:0;
    padding:0;
}

body {
  background-color: white;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 400;
  line-height: 1.45;
  color: #333;
}

p {margin-bottom: 1.3em;}

h1, h2, h3, h4 {
  margin: 1em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  font-size: 2.074em;
}

h2 {font-size: 1.728em;}

h3 {font-size: 1.44em;}

h4 {font-size: 1.2em;}

#wrapper{
    width:940px;
}

#wrapper * {
    margin-left:10px;
    margin-bottom:5px;
}

small, .font_small {font-size: 0.833em;}
.menu {
    width:940px;
    border-bottom:2px solid black;
}
.input, textarea {
    width: 250px;
}
#lblError, #lblInstructions {
    text-align:center;
}
/*This doesn't do anything*/
MenuItem {
    width: 100px;
    font-size:32px;
    color:White;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
